body {
  max-width: 375px;
  margin: auto;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  background: #080e10;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: rgb(8,14,16);
  background: linear-gradient(0deg, rgba(8,14,16,1) 0%, rgba(12,60,57,1) 100%);
  padding: 10px 0;
  position: sticky;
  top: 0;
}

.container-header {
  display: flex;
  flex-flow: row nowrap;
}

header .icon {
  width: 40px;
  height: 40px;
  margin: auto;
}

header .icon-dan {
  width: 70px;
  height: 70px;
}

header .icon-arrow {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

header .icon-phone {
  margin-left: 20px;
}

header h1 {
  font-size: 28px;
  font-weight: 500;
}

p {
  font-size: 15px;
  font-weight: 400;
}

.message-box {
  display: flex;
  flex-flow: column nowrap;
}

.message-content {
  margin: 10px;
  text-align: left;
}

.message-box .message-box-sean-sharp {
  background: #0d7b63;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  align-self: flex-end;
  max-width: 75%;
  margin: 0 5px 5px 0;
}

.message-box .message-box-sean-round {
  background: #0d7b63;
  border-radius: 15px;
  align-self: flex-end;
  max-width: 75%;
  margin: 0 5px 3px 0;
}

.message-box .message-box-dan-sharp {
  background: #485f68;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  max-width: 75%;
  margin: 0 0 5px 5px;
}

.message-box .message-box-dan-round {
  background: #485f68;
  border-radius: 15px;
  max-width: 75%;
  margin: 0 0 3px 5px;
}

.message-time-sean {
  font-size: 13px;
  font-weight: 300;
  color: #485f68;
  text-align: right;
  margin: 0 5px 0 0;
}

footer {
  background: rgb(8,14,16);
  background: linear-gradient(0deg, rgba(12,60,57,1) 0%, rgba(8,14,16,1) 100%);
  padding: 20px 0;
}

.container-footer {
  display: flex;
  flex-flow: row nowrap;
  position: sticky;
  bottom: 0;
  padding: 0 0 10px 0;
}

footer .icon {
  width: 40px;
  height: 40px;
  margin: auto;
}

.input {  
  background: #324248;
  width: 200px;
  border-radius: 30px;
  margin-right: 5px;
}

.icon-microphone {
  width: 32px;
  height: 32px;
  margin: 4px 0 0 5px;
}

.icon-camera {
  padding-right: 10px;
}

.icon-dots {
  padding-left: 10px;
}

h2 {
  font-size: 12px;
  color: #5d7b87;
  text-align: center;
  margin: 15px 0 0 0;
  font-weight: 300;
}

h2 em {
  font-style: normal;
  border: #5d7b87 solid;
  border-radius: 30px;
  padding: 3px 5px;
}